<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339559105708-h84btlnevujigultrs4cgk6jad8ihojl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339559105708-h84btlnevujigultrs4cgk6jad8ihojl</string>
	<key>API_KEY</key>
	<string>AIzaSyCLXh1LkCa9SIgUOeRxbi4QAKqDSxiuxoc</string>
	<key>GCM_SENDER_ID</key>
	<string>339559105708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBlopApp</string>
	<key>PROJECT_ID</key>
	<string>flutterblog-15959</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterblog-15959.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339559105708:ios:5eccfedb69a28e36d84b09</string>
	<key>DATABASE_URL</key>
	<string>https://flutterblog-15959.firebaseio.com</string>
</dict>
</plist>